.title {
  font-size: 35px;
  margin-top: 20px;
  margin-left: 30px;
}
.h1 {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 40px;
}

.input {
  background-color: initial;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}

.t {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 40px;
  border-radius: 20px;
}
.icon {
  font-size: 2em;
  background-color: #e0f2fe;
  border-radius: 10px;
}
.introduce {
  background-color: initial;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  min-height: 200px;
}
